.bg-list-body{
  background-color: rgba(66, 70, 75, 0.7);
}

.bg-darken{
  background-color: rgba(66, 70, 75, 0.2);
}
.task-font{
  font-family: 'Asap', sans-serif;
}

.task-font-light{
  font-family: 'Asap', sans-serif;

}

.list-width{
  min-width: 25vw;
  max-width:  70vw;
}

.form-header-text{
  color: rgb(243, 243, 243)!important;
}

.btn-list-x{
  height: 30%;
}

.btn-task-x{
  height: 30%;
}

.btn-header{
  min-height: 100%;
}

.form-header{
margin-bottom: 0em!important;
}

.form-header::placeholder{
  color: rgb(219, 219, 219, .75);
}

.form-header:active{
  outline-color: rgb(84, 81, 92) ;
   
}

.hd-grey{
  background-color:#6c757d;
}

.hd-dark-grey{
  background-color:#525961;
}

.hd-white{
  background-color:#e6e6e6;
}

.hd-red-grey{
  background-color:#c55b66;
}

.hd-maroon{
  background-color:#c53644;
}


